<form action="javascript:void(0);" class="form-horizontal" id="metaEdit">
  <fieldset>
    <legend><%=!!name ? "Edit " + name : "Create new Widget"%></legend>
    <div class="control-group">
      <label class="control-label">Widget Name:</label>
      <div class="controls">
        <% if (!!name) { %>
          <span class="fixedName"><%=name %></span>
        <% } else {%>
          <input id="name" type="text" placeholder="Name of the App">
        <% } %>
      </div>
    </div>
    <%
    var a = "";
    var d = "";
    var v = "";
    var n = "";
    var e = "";
    if (!!name) {
      a = author;
      d = description;
      v = version;
      n = nodeCollection;
      e = edgeCollection;
    }
    %>
    <div class="control-group">
      <label class="control-label">Author</label>
      <div class="controls">
        <input id="author" name="author" type="text" placeholder="Author" value="<%=a %>">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Description</label>
      <div class="controls">
        <input id="description" name="description" type="text" placeholder="Description" value="<%=d %>">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Version</label>
      <div class="controls">
        <input id="version" name="version" type="text" placeholder="Version x.y.z"value="<%=v %>">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Node Collection</label>
      <div class="controls">
        <input id="nodeCollection" name="nodeCollection" type="text" placeholder="Node Collection" value="<%=n %>">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Edge Collection</label>
      <div class="controls">
        <input id="edgeCollection" name="edgeCollection"type="text" placeholder="Edge Collection" value="<%=e %>">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button id="submitButton" class="btn btn-success">Submit</button>
      </div>
    </div>
  </fieldset>
</form>